/* Colors */
$bred  : hsl(12, 88%, 59%);
$dblue : hsl(228, 39%, 23%);
$dgblue: hsl(227, 12%, 61%);
$vdblue: hsl(233, 12%, 13%);
$vpred : hsl(13, 100%, 96%);
$vlgray: hsl(0, 0%, 98%);

/* Font */
$font: 'Be Vietnam Pro', sans-serif;